<!-- Distribuidores
============================================= -->
<section id="distributors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="color: white;">Distributors</h2>
        <hr class="light">
        <p style="color: white;">Contact and order now</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="distributors-container">
      <%= render partial: 'country', collection: @country_codes, as: 'country_code' %>
    </div>
  </div>
</section>
