<div class="col-md-2 col-sm-3 col-xs-3">
  <%= link_to color.image.url(:original), class: 'color-box' do %>
    <%= image_tag(color.image.url(:medium), class: 'img-responsive') %>
    <div class="color-box-caption">
      <div class="color-box-caption-content">
        <div class="project-name">
          <%=	color.code %>
        </div>
      </div>
    </div>
  <% end %>
</div>
