<section class="color-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Colors</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-gutter popup-gallery">
      <%= render partial: 'color_category', collection: @color_categories %>
    </div>
  </div>
</section>