@import 'colors';
@import 'typography';

/* ==========================================================================
Navigation Style
========================================================================== */
.navbar-container {
  margin: 0 auto;
  paddingLeft: 1rem;
  paddingRight: 1rem;
  marginRight: auto;
  marginLeft: auto;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.login-button {
  border: white;
  padding: 0.5rem 0.75rem;
  border-style: solid;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    background-color: white;
    color: black;
  }
}

.responsive-login-button {
  display: block;
  @media (min-width: 1200px) {
    display: none!important;
  }
}

.login-container {
  @media (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;

  }
}

.navbar-default {
  background: rgba(13, 13, 13, .6);
  margin-bottom: 0;
  border: none;

  .navbar-brand {
    height: auto;

    img {
      height: 57px;
    }
  }

  .navbar-header {
    width: 28%;
    padding-right: 15px;
  }

  .nav-wrap {
    width: 50%;
  }

  .nav > li > a {
    font-size: $nav-size;
    color: $Light-primary;
    font-weight: $bold;
    text-transform: uppercase;
    padding: 35px 15px;
    @include transition(all .3s ease-in-out);
  }

  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav > li > a:active {
    color: $Grey-Primary;
  }

  .social-media {
    i {
      font-size: $h5-size;
    }

    float: right;
    padding: 0 15px;
  }

  .login {
    float: right;
    color: white;

    a {
      color: white;
      font-weight: bold;
      text-transform: capitalize;
    }

    @media (min-width: 768px) {
      //display: block;
    }
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: $Grey-Primary;
}

.top-nav-collapse {
  background: $section-dark;

  .navbar-brand {
    height: auto;

    img {
      height: 52px;
    }
  }

  .nav > li > a {
    padding: 30px 15px;
  }
}

@media (max-width: 1200px) {
  /*-- Navigation --*/
  .navbar-default {
    background: $section-dark;

    .navbar-header {
      width: 100%;
      padding-right: 0;

      .navbar-brand {
        height: auto;

        img {
          height: 55px;
        }
      }
    }

    .nav-wrap {
      width: 100%;
    }

    .navbar-toggle {
      padding-top: 25px;
      padding-bottom: 25px;
      border: none;

      .icon-bar {
        background-color: $Light-primary;
      }
    }

    .navbar-toggle:hover,
    .navbar-toggle:focus,
    .navbar-toggle:active {
      background: none;
    }

    .navbar-left,
    .navbar-right {
      float: none !important;
    }

    .navbar-toggle {
      display: block;
    }

    .navbar-collapse {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
      display: none !important;
    }

    .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
    }

    .navbar-nav > li {
      float: none;
    }

    .collapse.in {
      display: block !important;
    }
  }
}