.faqs-section {
  padding-top: 150px;
  padding-bottom: 100px;
}

.faq-box {
  padding: 0.5rem;
  margin: 2rem 0;
}

.faq-title {
  border-bottom: 1px solid #eee;
}
.faq-response {
  margin-top: 1rem;
}